/* Hedaer */
.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px 0 104px;
}

.menu-container {
  font-weight: 700;
  color: #1f2937;
  text-transform: uppercase;
  font-size: 12px;
}

.navigation-mobile {
  display: none;
}

.navigation-footer,
.navigation-default {
  width: 175px;
}

/* The consumer */
.consumer-title1 {
  margin: 0 !important;
  z-index: 1;
  color: #fff !important;
  font-weight: 800 !important;
  font-size: 50px !important;
}

.consumer-title2 {
  margin: 0 !important;
  z-index: 1;
  color: #f6c64d !important;
  font-weight: 800 !important;
  font-size: 50px !important;
}

.consumer-subtitle-container {
  z-index: 1;
  width: 753px;
  margin-bottom: 3em;
  margin-top: 2em;
}

.consumer-subtitle1 {
  margin: 0 !important;
  color: #fff !important;
  font-size: 26px !important;
  font-weight: 500 !important;
}

.car-green-container {
  display: flex;
  justify-content: space-between;
  padding: 113px 75px 0;
}

.car-green-wrapper {
  position: absolute;
  top: 40.5em;
  left: 0;
}

.car-green {
  width: 350px;
  height: auto;
}

.car-green-header {
  background-repeat: no-repeat;
  background-position: left, right;
  height: 184px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  color: #6bb42f;
}

.consumer-body-row {
  padding: 0px 10em;
}

/* Consumer Body 7 */

.consumer-button-link {
  width: 550px;
  z-index: 1;
}

.consumer-body7-container {
  min-height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.consumer-body7-wrapper {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  filter: brightness(0.5);
  min-height: calc(100vh - 64px);
}
.consumer-body7-title-wrapper {
  z-index: 1;
  width: 840px;
}
.consumer-body7-title {
  margin: 0 !important;
  color: #fff !important;
  font-weight: 900 !important;
  font-size: 50px !important;
  letter-spacing: 0.01em !important;
}
.consumer-body7-subtitle-wrapper {
  z-index: 1;
  width: 1025px;
  margin-bottom: 3em;
  margin-top: 2em;
}

.consumer-body7-subtitle {
  margin: 0 !important;
  color: #fff !important;
  font-size: 26px !important;
  font-weight: 600 !important;
}

.consumer-body-col-subtitle {
  color: #777777 !important;
  font-weight: 500 !important;
  font-size: 21px !important;
  width: 530px;
  float: left;
  margin: 0 !important;
}

/* The Team */

.team-header-title {
  margin: 0px !important;
  z-index: 1;
  color: rgb(255, 255, 255) !important;
  font-weight: 800 !important;
  font-size: 44px !important;
  width: 1081px;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  text-transform: none;
}

.team-header-subtitle-wrapper {
  z-index: 1;
  width: 753px;
  margin-bottom: 3em;
  margin-top: 2em;
}

.team-header-subtitle {
  margin: 0px !important;
  font-size: 26px !important;
  font-weight: 500 !important;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  color: rgb(245, 198, 78) !important;
  text-transform: none;
}

.team-content-header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 75px 75px 0px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.team-content-header {
  background-repeat: no-repeat;
  background-position: left center, right center;
  height: 184px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.team-container,
.team-container-first {
  padding-top: 30em;
  display: flex;
}

.team-member-margin-left {
  margin-left: 2em;
}

.team-james {
  position: absolute;
  bottom: 57px;
  right: 60px;
  text-align: right;
  z-index: 1;
}

.team-zara {
  position: absolute;
  bottom: 40px;
  right: 60px;
  text-align: right;
  z-index: 1;
}

.team-jomar {
  position: absolute;
  bottom: 40px;
  right: 70px;
  text-align: right;
  z-index: 1;
}

/* THE LGU */

.lgu-header-wrapper {
  background: linear-gradient(
    90deg,
    rgb(143, 190, 97) 0%,
    rgb(245, 198, 78) 90.81%
  );
  height: 367px;
  display: flex;
  justify-content: space-between;
}

.lgu-header-content-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 70px;
  width: 1900px;
  background-repeat: no-repeat;
  background-position-x: 0%, 100%;
  background-position-y: 50%, center;
}

.lgu-header-content-right {
  height: 367px;
  width: -webkit-fill-available;
  background-position-x: right;
  background-position-y: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.lgu-header-title {
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  font-style: normal;
  font-weight: 900;
  font-size: 31px;
  letter-spacing: 0.01em;
  color: #ffffff;
  line-height: 60px;
  align-items: center;
  display: flex;
}

.lgu-header-subtitle {
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.lgu-content-row,
.business-content-row {
  padding: 0px 10em;
}

.lgu-body2 {
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.lgu-col-body2 {
  text-align: right;
}

.lgu-body2-title {
  color: rgba(31, 41, 55, 0.85) !important;
  font-weight: 700 !important;
  font-size: 36px !important;
  width: 522px;
  float: right;
}
.lgu-body2-subtitle {
  color: rgb(119, 119, 119) !important;
  font-weight: 500 !important;
  font-size: 21px !important;
  width: 530px;
  float: right;
  margin: 0px !important;
}

.lgu-body3 {
  min-height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.lgu-body3-title {
  color: rgba(31, 41, 55, 0.85) !important;
  font-weight: 700 !important;
  font-size: 36px !important;
  width: 514px;
}
.lgu-body3-subtitle {
  color: rgb(119, 119, 119) !important;
  font-weight: 500 !important;
  font-size: 21px !important;
  width: 530px;
  float: left;
  margin: 0px;
}

.lgu-body4 {
  min-height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(255, 255, 255);
}

.lgu-col-body4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lgu-body4-subtitle {
  color: rgb(119, 119, 119) !important;
  font-weight: 500 !important;
  font-size: 21px !important;
  margin: 0px !important;
  width: 1034px;
  padding-bottom: 4em;
}

.lgu-body5 {
  min-height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.lgu-col-body5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lgu-body5-title {
  color: rgba(31, 41, 55, 0.85) !important;
  font-weight: 700 !important;
  font-size: 36px !important;
}

.lgu-body5-subtitle {
  color: rgb(119, 119, 119) !important;
  font-weight: 500 !important;
  font-size: 21px !important;
  margin: 0px 0px 2em;
}

/* THE BUSINESS */

.business-header-wrapper {
  background: linear-gradient(
    90deg,
    rgb(143, 190, 97) 0%,
    rgb(245, 198, 78) 90.81%
  );
  height: 367px;
  display: flex;
  justify-content: space-between;
}

.business-header-content-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 70px;
  width: 1900px;
  background-repeat: no-repeat;
  background-position-x: 0%, 100%;
  background-position-y: 50%, center;
}

.business-header-content-right {
  height: 367px;
  width: -webkit-fill-available;
  background-position-x: right;
  background-position-y: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.business-header-title {
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  font-style: normal;
  font-weight: 900;
  font-size: 31px;
  letter-spacing: 0.01em;
  color: #ffffff;
  line-height: 60px;
  align-items: center;
  display: flex;
}

.business-header-subtitle {
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-top: 1em;
  width: 650px;
}

.business-body2 {
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.business-col-body2 {
  text-align: right;
}

.business-body2-title {
  color: rgba(31, 41, 55, 0.85) !important;
  font-weight: 700 !important;
  font-size: 36px !important;
  width: 596px;
  float: right;
}

.business-body2-subtitle {
  color: rgb(119, 119, 119) !important;
  font-weight: 500 !important;
  font-size: 21px !important;
  width: 530px;
  float: right;
  margin: 0px !important;
}

.business-body3 {
  min-height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.business-body3-title {
  color: rgb(107, 180, 47) !important;
  font-weight: 700 !important;
  font-size: 36px !important;
  width: 514px;
}

.business-body3-subtitle {
  color: rgb(119, 119, 119) !important;
  font-weight: 500 !important;
  font-size: 21px !important;
  width: 571px;
  float: left;
  margin: 0px !important;
}

.business-body4 {
  min-height: calc(100vh - 168px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: 40px 440px, 97% 50px;
}

.business-col-body4 {
  padding: 0px 69px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  /* Mobile Header */
  .header {
    padding: 0 20px;
  }

  .menu-container {
    display: none;
  }

  .navigation-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Mobile footer */
  .navigation-footer {
    width: 233px;
  }

  /* Mobile The Consumer */

  .consumer-button-link {
    width: auto;
  }

  .consumer-title1 {
    width: 340px;
    font-size: 38px !important;
  }

  .consumer-title2 {
    font-size: 38px !important;
  }

  .consumer-subtitle-container {
    width: 350px;
  }

  .consumer-subtitle1 {
    font-size: 20px !important;
  }

  .car-green-container {
    padding: 68px 36px 0px;
  }

  .car-green-wrapper {
    top: 42.5em;
    display: none;
  }

  .car-green {
    width: 185px;
  }

  .car-green-header {
    background-size: 171px;
    font-size: 36px;
    height: auto;
  }

  .car-green-header > .border-span {
    width: auto;
  }

  .consumer-body-row {
    padding: 0 2em;
  }

  .consumer-body-row > h1 {
    text-align: center;
    font-size: 28px;
  }

  .consumer-body-row > div {
    text-align: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .consumer-body-col-subtitle {
    width: auto;
    font-size: 16px !important;
    margin-bottom: 20px !important;
    float: left;
  }

  /* Mobile Consumer Body 7 */
  .consumer-body7-title-wrapper {
    width: 350px;
  }

  .consumer-body7-title {
    font-size: 30px !important;
  }

  .consumer-body7-subtitle-wrapper {
    width: 350px;
  }

  .consumer-body7-subtitle {
    font-size: 18px !important;
  }

  /* Mobile Team */

  .team-header-title {
    font-size: 28px !important;
    width: 360px;
  }

  .team-header-subtitle-wrapper {
    width: 340px;
  }

  .team-header-subtitle {
    font-size: 18px !important;
  }

  .team-content-header-wrapper {
    padding: 68px 36px 0px;
  }

  .team-content-header {
    background-size: 171px;
    font-size: 36px;
  }

  .team-container-first {
    padding-top: 22em;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .team-container {
    padding-top: 7em;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .team-member-margin-left {
    margin-left: 0;
  }

  .team-jomar,
  .team-zara,
  .team-james {
    bottom: 30px;
    right: 20px;
  }

  .team-column > img {
    height: 427px !important;
  }

  .lgu-header-content-left,
  .business-header-content-left {
    padding: 1em 2em;
    width: 100%;
    background-size: 99px;
  }

  .lgu-header-content-right,
  .business-header-content-right {
    display: none;
  }

  .lgu-header-title,
  .business-header-title {
    font-size: 22px;
    line-height: 34px;
  }

  .lgu-header-subtitle,
  .business-header-subtitle {
    font-size: 14px;
    margin-top: 13px;
  }

  .lgu-content-row,
  .business-content-row {
    padding: 0px 2em;
    background-image: none !important;
  }

  .lgu-col-body2,
  .lgu-col-body3,
  .lgu-col-body4,
  .lgu-col-body5,
  .business-col-body2,
  .business-col-body3 {
    text-align: center;
  }

  .lgu-body2-title,
  .lgu-body3-title,
  .lgu-body5-title,
  .business-body2-title,
  .business-body3-title {
    width: auto;
    font-size: 31px !important;
  }

  .lgu-body2-subtitle,
  .lgu-body3-subtitle,
  .lgu-body5-subtitle,
  .business-body2-subtitle,
  .business-body3-subtitle {
    font-size: 16px !important;
    width: auto;
  }

  .lgu-body4-subtitle {
    font-size: 20px !important;
    width: auto;
  }

  .lgu-body3-subtitle,
  .lgu-body5-subtitle,
  .business-body3-subtitle {
    margin-bottom: 2em !important;
  }

  .business-header-subtitle {
    width: auto;
  }

  .business-col-body4 {
    padding: 2em 3em;
  }
}
